<html>
<head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
{% load staticfiles %}
<link href="{% static  "cal-heatmap-master/cal-heatmap.css" %}" rel="stylesheet">
<script src="{% static "cal-heatmap-master/cal-heatmap.min.js" %}"></script>

<title> Just testing cal heatmap thing </title>
</head>


<body>

<div id="cal-heatmap"></div>
<script="text/javascript">
var data;

d3.json("path/to/file.json", function(error, json) {
  if (error) return console.warn(error);
  data = json;
  visualizeit();
});
</script>

<script type="text/javascript">
	var cal = new CalHeatMap();
	cal.init({});
</script>



</body>
</html>
